<!DOCTYPE html>
<html>
  <head>
    <title>ApiTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :postal_code, class: "search_form" %>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
